{% extends 'base.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="home">Home</a>
        <a class="nav-item nav-link" href="resume">Resume</a>
        <a class="nav-item nav-link active" href="portfolio">Portfolio<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="mlshowcase">ML Showcase</a>
        <a class="nav-item nav-link" href="database">Database</a>
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}

<html>
    <body>
        <h1>Garrett's Portfolio</h1>
        <p>Projects: </p><hr>
        <p>Papers: </p><hr>
    </body>
</html>

{% endblock %}